#logonav {
    height: 150px;
    width: 150px;
}

#footerlogo {
    height: 100px;
    width: 100px;
}

#flyers {
    height: 200px;
    width: 200px;
}

.left-content2 {
    border-radius: 2%;
    background-color: black;
}